/* Default Styles */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

/* End Default Styles */

/* Bootstrap Overrides */

.navbar {
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.jumbotron {
    box-shadow: 0 0 2px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.24);
}

/* End - Bootstrap Overrides */

/* Additional Universal Styles */

/* Set default header font */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
}

button, input {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

/* Set default body font */
body {
    font-family: 'Average', serif;
}

/* Increase the navbar's font size */
.navbar {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.text-center {
    text-align: center;
}

.align-center {
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

/* Because ASP wraps checkboxes in spans, styles aren't directly applied unless we do this. */
.checkbox-center > * {
    float: none !important;
}

.checkbox-label-align {
    vertical-align: text-bottom;
}

/* Center the footer text */
footer {
    width: 100%;
    text-align: center;
}

/* End - Additional Universal Styles */