@model WorkoutLog.Models.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home";
}

@if (Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h2>Welcome back, @Model.FirstName.</h2>
        <p class="lead">We're under development and will have features to you shortly. In the meantime, check for updates and information on our @Html.ActionLink("about page", "About", "Home", new { @class = "hyperlink" }).</p>
    </div>
}
else
{
    <div class="jumbotron">
        <h1>Workout Log</h1>
        <p class="lead">Workout Log is a free tool that allows users to log, edit, and track their workouts and compare their progress with their peers. Training information and advice can also be provided by coaches to their team.</p>
        <button class="pure-button pure-button-primary" onclick="location.href='@Url.Action("Register", "Account", routeValues: null)';return false;">Register</button>
    </div>
}