@{
    ViewBag.Title = "Home";
}

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

}
else
{
    <div class="jumbotron">
        <h1>Workout Log</h1>
        <p class="lead">Workout Log is a free tool that allows users to log, edit, and track their workouts and compare their progress with their peers. Training information and advice can also be provided by coaches to their team.</p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Register &raquo;"), "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary btn-lg" })</p>
    </div>
}